---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Plac%2BEuropejski%2B2,%2BWarszawa,%2BPolska&key=AIzaSyAlgUAPlhCk7L76VP41NUymeihs7ycETHw&language=pl&origins=Plac%2BEuropejski%2B2,%2BSin%2BCity,%2BPolska&sensor=true&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "plac Europejski 2, 00-844 Warszawa, Polska" ],
           "origin_addresses" : [ "" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "status" : "NOT_FOUND"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 01 Dec 2017 22:47:53 GMT
recorded_with: VCR 3.0.3
